*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white; 
}
header{
    width: 80vw;
    margin: 2vh auto;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2vw;
}
nav ul{
    width: 33vw;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: yellow;
}
ul li a:hover{
    color: red;
}

/* Container for all quotes */
#container{
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    width: 90vw;
    margin: auto;
    border: 2px solid yellow;
}

/* Quote container  */
.quote-box{
    width: calc(33.3% - 6px);
    margin: 3px;
    padding: 3px;
    background: gray;
    border-radius: 2px;
}
.quote{
    font-size: 16px;
    line-height: 16px;
    color: yellow;
    margin-bottom: 5px;
}
.author{
    font-size: 16px;
    color: goldenrod;
}
.source{
    font-style: italic;
}
.options{
    display: block;
    margin-left: 90%;
}
.fa-trash-can{
    color: yellow;
}
.fa-trash-can:hover{
    cursor: pointer;
    color: red;
}
.fa-cog{
    color: yellow;
}
.fa-cog:hover{
    cursor: pointer;
    color: red;
}

/* CRUD add-quote */
.fa-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 15px;
    height: 50px;
    width: 50px;
    color: yellow;
    background: gray;
    border-radius: 50%;
}
.fa-plus:hover{
    cursor: pointer;
    color: red;
    background-color: gray;
}